@import url(./root.css);

#cards {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 5% auto;
}

#cards .card {
  width: 397px;
  height: 357px;
  margin: 0 0 5%;
  display: flex;
  border-radius: 14px;
  background-color: var(--white);
  position: relative;
}

.div-card {
  width: 100%;
}

#card-image .image {
  width: 100%;
  height: 265px;
  background: rgba(0, 128, 255, 0.06);
  box-shadow: inset 0px -68px 76px rgba(0, 128, 255, 0.35);
  border-radius: 14px;
  background-position: center;
}

.card-content {
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 26px;
  color: var(--text-color);
  padding: 3%;
}

.card-price {
  position: absolute;
  bottom: 30%;
  padding-left: 3%;
  text-align: right;
  font-weight: 600;
  font-size: 27px;
  line-height: 26px;
  color: var(--white);
}

.card-price span {
  color: var(--gray);
  font-size: 15px;
}

.star {
  width: 50%;
}

.star-rate {
  padding: 2% 0;
  display: flex;
  justify-content: space-between;
}

.button-vermais {
  width: 8vw;
}

.button-vermais a {
  color: var(--white);
}

.button-vermais a:visited {
  color: var(--white);
}

#modal__success {
  position: absolute;
  background: rgba(18, 57, 82, 0.95);
  mix-blend-mode: normal;
  display: none;
  width: 100%;
  height: 150%;
  top: 0;
  left: 0px;
  right: 0;
  z-index: 99999;

  color: var(--white);
}

.modal__success-content {
  width: 100%;
  margin: 20% auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal__success-content p {
  font-size: 32px;
  line-height: 64px;
  text-align: center;
}

#modal__success-thanks {
  font-size: 54px;
  line-height: 64px;
  text-align: center;
}

.circle {
  margin: 0 auto;
  background-color: #51B853;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
